body{
    background-color: indigo;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    background-image: url(/prova_pratica/media/goku.png);
    background-position-y: top;
    background-position-x: right;
    background-size: 450px;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
fieldset{
    border: 4px solid gold;
}
#form{
    font-family: cursive;
    font-size: 30px;
    border: dashed gold 2px;
    color: gold;
    text-align: center;
    border-radius: 10px;
    padding: 5px;
    background-color: darkmagenta ;
}

.input-dados{
    width: 60%;
    border-radius: 5px;
    height: 20px;

}

.select-planetas{
    width: 25%;
    color: black;
    padding: 5px;
}

#text{
    resize: none;
}

.but{
    width: 150px;
    height: 60px;
    border-radius: 13px;
    background-color: darkmagenta;
    color: white;
    text-align: center;
    font-size: 20px;
    transition: linear 0.25;
}

.but:hover{
    transform: scale(1.05);
    transition: linear 0.25;
}

#raca  {
    width: 25%;
    color: black;
    padding: 5px;
}